.page-about {
  // border: $bred;
  width: 100%;
  background: url(../img/bg-about.png) top 77% center no-repeat;

  @media (max-width: 767px) {
    background: url(../img/bg-about-mimi.png) top 56% center no-repeat;
  }
}

.page-about__inner {
  position: relative;
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-about__inner h2 {
  margin-bottom: 24px;
  padding: 0 16px;

  @media (max-width: 767px) {
    margin-bottom: 23px;
  }
}

.page-about__inner p {
  text-align: center;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
  width: 85%;
  margin-bottom: 47px;
  padding: 0 16px;

  @media (max-width: 767px) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    width: 100%;
  }
}

.page-about__inner img {
  // border: $bred;
  margin-bottom: 140px;
  max-width: 100%;
  object-fit: contain;
  object-position: center top;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    height: 100%;
  }
}

.btn-video-play {
  // border: $bred;
  position: absolute;
  top: 387px;
  width: 96px;
  height: 96px;
  background: url(../img/play-button.png) center no-repeat;
  background-size: cover;
  cursor: pointer;

  &:hover,
  &:focus {
    background: url(../img/play-button-hover.png) center no-repeat;
  }

  &:active {
    background: url(../img/play-button-active.png) center no-repeat;
  }

  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
    top: 372px;
  }
}