.page-calculation {
  // border: $bred;
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  padding: 110px 98px 0;

  @media (max-width: 1023px) {
    width: 100%;
    padding: 80px 45px 0;
    flex-wrap: wrap;
  }
  @media (max-width: 767px) {
    padding: 60px 15px 0;
    flex-wrap: wrap;
  }

  .percent-slider,
  .years-slider {
    width: 100%;
    // border: $bred;
    position: relative;
    height: 32px;

    input[type="range"] {
      width: 100%;
      position: absolute;
      top: -23px;
    }

    output {
      position: absolute;
    }
  }

  input {
    border: none;
    height: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    @media (max-width: 1023px) {
      font-size: 16px;
    }
  }

  label,
  output {
    // border: $bred;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 70%;
  }

  h3 {
    margin: 0;
    // border: $bred;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 70%;
    flex-shrink: 0;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 18px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.page-calculation__parameters {
  // border: $bred;
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: flex-start;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.page-calculation__main--choice {
  // border: $bred;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: 768px) and (max-width: 1023px) {
    height: 165px;
  }
  @media (max-width: 767px) {
    height: 142px;
  }

  h2 {
    // border: $bred;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 70%;
    flex-shrink: 0;
    margin: 0 0 70px;

    @media (max-width: 1023px) {
      font-size: 32px;
      margin: 0 0 46px;
    }
    @media (max-width: 767px) {
      font-size: 22px;
      margin: 0 0 36px;
    }
  }

  h3 {
    margin: 0 0 30px;

    @media (max-width: 1023px) {
      margin: 0 0 24px;
    }

    @media (max-width: 767px) {
      margin: 0 0 19px;
    }
  }

  #type-of-credit {
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: relative;
  }

  ul {
    width: 100%;
    position: absolute;
    border: 1px solid #1F1E25;
    border-radius: 4px;
    background: white;
    z-index: 19;
  }

  li {
    width: 100%;
    height: 60px;
    padding-top: 21px;
    padding-left: 23px;
    border-bottom: 1px solid #C1C2CA;

    @media (max-width: 767px) {
      padding-left: 15px;
    }
  }

  .expanded--list li {
    cursor: pointer;
  }

  li:first-child {
    border-bottom: 1px solid #0A1E32;
  }

  li:last-child {
    border-bottom: none;
  }

  img {
    position: absolute;
    object-fit: cover;
    top: 26px;
    right: 22px;
    cursor: pointer;
    z-index: 19;

    @media (max-width: 767px) {
      right: 13px;
    }
  }
}

.page-calculation__type--cost {
  // border: $bred;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 103px;

  @media (max-width: 1023px) {
    margin-top: 41px;
  }

  @media (max-width: 767px) {
    margin-top: 30px;
  }

  &.visually-hidden {
    display: none;
  }

  h3 {
    margin-bottom: 30px;

    @media (max-width: 1023px) {
      margin-bottom: 25px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  label {
    margin-bottom: 15px;
  }

  .cost-of-property__scale {
    margin-bottom: 11px;
  }

  .cost-of-property__scale {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: auto;
    position: relative;

    img {
      position: absolute;
      top: 21px;
      cursor: pointer;
    }

    img#minus-operator {
      left: 23px;
      object-fit: contain;
    }

    img#plus-operator {
      right: 23px;
      object-fit: cover;
    }

    input {
      flex-grow: 2;
      border: 1px solid #1F1E25;
      border-radius: 4px;  
    }

    &.error input {
      color:  #e74c3c;
      border-color: #e74c3c;
      box-shadow: 0 0 1px 1px #e74c3c;
    }
  }

  p {
    // border: $bred;
    width: 100%;
    margin-top: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 70%;
  }
}

.page-calculation__initial--fee {
  // border: $bred;
  width: 100%;
  height: 133px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 25px;
  }
  @media (max-width: 767px) {
    margin-top: 20px;
  }

  &.visually-hidden {
    display: none;
  }

  input {
    margin-top: 15px;
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type="range"] {
    margin-top: 15px;
  }

  output {
    top: 37px;
  }
}

.page-calculation__credit--term {
  // border: $bred;
  width: 100%;
  height: 129px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 25px;
  }
  @media (max-width: 767px) {
    margin-top: 20px;
  }

  &.visually-hidden {
    display: none;
  }

  input {
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 15px;
  }

  input[type="range"] {
    margin-top: 11px;
  }

  output {
    top: 33px;
  }
}

.page-calculation__checkboxes {
  // border: $bred;
  display: flex;
  flex-direction: column;
  margin-top: 19px;

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 15px;
  }
  @media (max-width: 767px) {
    margin-top: 12px;
  }

  &.visually-hidden {
    display: none;
  }

  div {
    // border: $bred;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;

    input {
      height: 16px;
      width: 16px;
    }

    label {
      margin-left: 5px;

      @media (max-width: 767px) {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}



