.page-catalogue {
  background: url(../img/bg-catalogue.png) top right no-repeat;
  background-size: auto;
  padding: 57px 16px 0;
}

.page-catalogue__inner {
  // border: $bred;
  max-width: 946px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 767px) {
    align-items: center;
  }
}

.catalogue-details {
  display: flex;
  margin-top: 77px;
  width: 100%;

  @media (max-width: 767px) {
    margin-top: 16px;
    flex-direction: column;
  }
}

.catalogue-details__list {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.catalogue-details__list--mobile button.catalogue-details__item {
  background: none;
  border-radius: 60.6704px;
  width: 181px;
  margin-right: calc((100% - 181px)/2);
  margin-left: calc((100% - 181px)/2);
  height: 48px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  opacity: 0.87;
  clip-path: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.catalogue-details__list--mobile .slick-active button.catalogue-details__item {
  background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
  font-weight: 500;
  font-size: 16.1788px;
  line-height: 19px;
  font-variant: small-caps;
  color: #FFFFFF;
  text-shadow: 0px 1.01117px 4.04469px rgba(0, 0, 0, 0.12);
}

.catalogue-details__item {
  cursor: pointer;
  height: 68px;
  width: 228px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  border-radius: 0;
  color: #484848;
  text-transform: none;
  clip-path: polygon(0% 0%, 87% 0%, 100% 50%, 87% 100%, 0% 100%);
  background: #FFFFFF;
}

.catalogue-details__item::before {
  content: '';
  background-size: contain;
  width: 36px;
  margin-right: 16px;
  flex-shrink: 1;

  @media (max-width: 767px) {
    margin-right: 8px;
  }
}

.catalogue-details__item.btn__isChecked {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
}

.item-star::before {
  background: url(../img/star.png) center no-repeat;
  height: 33px;
}

.slick-active .item-star::before,
.btn__isChecked.item-star::before {
  background: url(../img/star-white.png) center no-repeat;
  height: 33px;
}

.item-cap::before {
  background: url(../img/cap.png) center no-repeat;
  height: 35px;
}

.slick-active .item-cap::before,
.btn__isChecked.item-cap::before {
  background: url(../img/cap-white.png) center no-repeat;
  height: 35px;
}

.item-portfolio::before {
  background: url(../img/portfolio.png) center no-repeat;
  height: 25px;
}

.slick-active .item-portfolio::before,
.btn__isChecked.item-portfolio::before {
  background: url(../img/portfolio-white.png) center no-repeat;
  height: 25px;
}

.item-heart::before {
  background: url(../img/heart-hand.png) center no-repeat;
  height: 29px;
}


.slick-active .item-heart::before,
.btn__isChecked.item-heart::before {
  background: url(../img/heart-hand-white.png) center no-repeat;
  height: 29px;
}

.item-candles::before {
  background: url(../img/candles.png) center no-repeat;
  height: 25px;
}

.slick-active .item-candles::before,
.btn__isChecked.item-candles::before {
  background: url(../img/candles-white.png) center no-repeat;
  height: 25px;
}

.catalogue-details__descriptions {
  margin-left: 64px;
  max-width: 550px;

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
  }
}

.catalogue-details__descriptions h3 {
  margin-top: 25px;
  margin-bottom: 31px;

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 22px;
  }
}

.catalogue-details__descriptions p {
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }
}
