.page-desire {
  // border: $bred;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  overflow: hidden;

  @media (max-width: 767px) {
    align-items: center;
    flex-direction: column;
  }
}

.page-desire__inner {
  // border: $bred;
  width: 100%;
  max-width: 477px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 215px;

  @media (max-width: 767px) {
    margin-top: 63px;
    align-items: center;
  }
}

.page-desire__inner h2 {
  margin-bottom: 25px;

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.page-desire__inner > p {
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
  opacity: 0.87;
  width: 90%;
  margin-bottom: 64px;

  @media (max-width: 767px) {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 23px;
  }
}

.page-desire__inner form {
  position: relative;
  width: 100%;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-desire__inner .input-container {
  width: 100%;

  .error-message {
    top: 60px;
  }
}

.page-desire__inner .recall-btn {
  position: absolute;
  width: 216px;
  height: 100%;
  right: 0;
  top: 0;

  @media (max-width: 767px) {
    position: static;
    width: 264px;
    height: 59px;
    margin-top: 25px;
  }
}

.page-desire picture {
  // border: $bred;
  width: 470px;
  height: 594px;

  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }

  img {
    // border: $bred;
    margin-left: -139px;
    margin-top: 7px;
    height: 100%;
    width: 174%;

    @media (max-width: 767px) {
      margin-left: -67px;
      margin-top: -17px;
      width: 147%;
      height: 100%;
    }
  }
}




