.page-desire {
  border: $bred;
  width: 100%;
  height: 906px;
  background: url(../img/girl-flag-bg.png) right center no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 210px;
}

.page-desire__inner {
  border: $bred;
  width: 100%;
  max-width: 477px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.page-desire__inner form {
  position: relative;
  width: 100%;
}

.input-container {
  width: 100%;
}

.page-desire__inner .recall__btn {
  position: absolute;
  width: 216px;
  height: 100%;
  right: 0;
  top: 0;
}




