.page-details {
  // border: $bred;
  width: 100%;
  padding: 108px 0 74px 110px;

  @media (max-width: 767px) {
    padding: 75px 16px 56px;
  }
}

.page-details__inner {
  // border: $bred;
  margin: 0 auto;
  width: 100%;
  max-width: 1256px;
}

.page-details__top {
  // border: $bred;
  margin-bottom: 70px;
  display: flex;
  justify-content: flex-start;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.page-details__top-left {
  // border: $bred;
  display: flex;
  flex-direction: column;
  width: 41%;
  min-width: 340px;
  margin-right: 39px;

  @media (max-width: 767px) {
    min-width: 0;
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%;
  }
}

.page-details__top-left h2 {
  margin-bottom: 50px;

  @media (max-width: 767px) {
    text-align: center;
    margin-bottom: 25px;
  }
}

.page-details__top-left h2 + p {
  // border: $bred;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #484848;
  opacity: 0.74;
  position: relative;
  padding-left: 21px;
  white-space: pre;
  margin-bottom: 38px;

  &:before {
    // border: $bred;
    position: absolute;
    content: '';
    background: url(../img/icon-map-marker.png) center no-repeat;
    background-size: 100%;
    width: 12px;
    height: 18px;
    left: 4px;
    top: 2px;
  }

  &:after {
    // border: $bred;
    position: absolute;
    content: '';
    background: url(../img/gps.png) center no-repeat;
    background-size: contain;
    width: 16px;
    height: 15px;
    left: 220px;
    top: 5px;
  }
}

.page-details__top-left > p span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-variant: small-caps;
  color: #484848;
  opacity: 0.74;
  border-bottom: 1px dashed #1FC0FC;
}

.curator-unit {
  // border: $bred;
  display: flex;
  margin-bottom: 28px;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.curator-unit__information {
  margin-left: 25px;

  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.curator-unit__information > p {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #484848;
  opacity: 0.74;
  width: 60%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

p.curator-unit__name {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #484848;
  opacity: 0.74;
  white-space: pre;
  margin-bottom: 8px;

  & span {
    color: #1FC0FC;
  }

  @media (max-width: 767px) {
    margin-bottom: 8px;
  }
}

.curator-unit__socials {
  margin-top: 12px;

  @media (max-width: 767px) {
    margin-top: 15px;
  }
}

.curator-unit__socials .social {
  margin-right: 9px;
}

.social__image {
  fill: #00000048;
}

.curator-unit + p {
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
  opacity: 0.87;
  width: 95%;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.map-view {
  height: 448px;
  width: 55.9%;

  @media (max-width: 767px) {
    height: 420px;
    width: 100%;
  }
}

.page-details__feedback {
  // border: $bred;
  display: flex;

  @media (max-width: 1100px) {
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.feedback-safety {
  // border: $bred;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 25px;

  @media (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 33px;
  }
}

.feedback-safety__top {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #484848;
  opacity: 0.87;
  margin-bottom: 10px;
  margin-top: 5px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
  }
}

.feedback-safety__addition {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #484848;
  opacity: 0.5;
}

.page-details__feedback form {
  display: flex;
  width: 100%;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.page-details__feedback .input-container {
  width: 250px;
  margin-right: 25px;

  @media (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;

    & .error-message {
      top: 60px;
    }
  }
}

.page-details__feedback .recall-btn {
  width: 216px;

  @media (max-width: 767px) {
    width: 92%;
  }
}