.page-cruises {
  // border: $bred;
  width: 100%;
  padding: 122px 15px 105px;

  @media (max-width: 1023px) {
    padding: 100px 45px 85px;
  }

  @media (max-width: 767px) {
    padding: 67px 10px 50px;
  }
}

.page-cruises__inner {
  // border: $bred;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.page-cruises__inner h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 70%;
  text-align: center;
  margin-bottom: 45px;

  @media (max-width: 1023px) {
    font-size: 26px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.cruises-list {
  // border: $bred;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cruises-item {
  // border: $bred;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc((100% - 120px) / 4);
  min-width: 260px;
  min-height: 386px;
  margin: 15px;
  color: #F9FBFD;
  overflow: hidden;
  position: relative;
  background: #011C40;
  padding: 35px 25px;

  @media (max-width: 1023px) {
    width: calc((100% - 60px) / 2);
    padding: 35px;
    min-width: 309px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 35px 25px;
    min-width: 270px;
  }
}

.cruises-item h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 70%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.cruises-item h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
}

.cruises-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 9px;
}

.cruises-item .cruises-item__btn {
  margin-top: 17px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 70%;
  background: #F9FBFD;
  text-align: center;
  padding-top: 15px;
  color: #011C40;

  &:focus {
    box-shadow: inset 0px 0px 1px 3px rgba(29, 65, 1, 0.753);
  }
  
  &:hover {
    color: #7b6be4;
  }
  
  &:active {
    padding-top: 15px;
    color: #7b6be4;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0px 0px 5px 5px rgba(45, 39, 124, 0.425), inset 0px 0px 5px 5px rgba(45, 39, 124, 0.425);
  }
}

.cruises-item .cruises-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in;
}

.cruises-item .cruises-item__bg::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%);
}

.cruises-item .cruises-item__btn:focus + .cruises-item__bg,
.cruises-item:hover .cruises-item__bg {
  transform: translateX(100%);
}

.cruises-item .cruises-item__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cruises-item .cruises-item__bg h3 {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 70%;
  bottom: 10px;
  left: 30px;

  @media (max-width: 1023px) {
    bottom: 15px;
    left: 35px;  
  }

  @media (max-width: 767px) {
    bottom: 5px;
    left: 25px;  
  }
}



