.page-cruises {
  // border: $bred;
  width: 100%;
  padding: 122px 15px 105px;

  @media (max-width: 1023px) {
    padding: 100px 45px 85px;
  }

  @media (max-width: 767px) {
    padding: 67px 10px 50px;
  }
}

.page-cruises__inner {
  // border: $bred;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.page-cruises__inner h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 70%;
  text-align: center;
  margin-bottom: 45px;

  @media (max-width: 1023px) {
    font-size: 26px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.cruises__list {
  // border: $bred;
  display: flex;
  flex-wrap: wrap;
}

.cruises__item {
  // border: $bred;
  display: flex;
  position: relative;
  width: calc((100% - 120px) / 4);
  min-width: 260px;
  margin: 15px;
  color: #F9FBFD;

  @media (max-width: 1023px) {
    width: calc((100% - 60px) / 2);
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.cruises__item img {
  // border: $bred;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cruises__item .item-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 30px 30px;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%);

  @media (max-width: 1023px) {
    padding: 0 0 35px 35px;
  }

  @media (max-width: 767px) {
    padding: 0 0 25px 25px;
  }
}

.cruises__item .item-background h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 70%;
}

.cruises__item h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 175%;
}

.cruises__item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 9px;
}

.cruises__item button {
  margin-top: 17px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 70%;
}

.cruises__item .item-background--description {
  background: #011C40;
  padding: 35px 25px;

  @media (max-width: 1023px) {
    padding: 35px 35px;
  }

  @media (max-width: 767px) {
    position: static;
    padding: 35px 25px;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 70%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}


