.page-footer {
  // border: $bred;
  width: 100%;
  padding: 60px 0;
  background: #F6F7FF;

  @media (max-width: 1023px) {
    padding: 60px 45px;
  }
  @media (max-width: 767px) {
    padding: 39px 15px 45px;
  }
}

.page-footer__inner {
  // border: $bred;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  @media (max-width: 1023px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.page-footer__address {
  // border: $bred;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 70%;
  width: 475px;

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.page-footer__logo--link img {
  // border: $bred;
  width: 149px;
  height: 25px;
  object-fit: cover;
  margin-top: -10px;

  @media (max-width: 1023px) {
    width: 133px;
    height: 22px;
  }

  @media (max-width: 767px) {
    width: 113px;
    height: 20px;
    margin-top: -2px;
  }
}

.page-footer__menu--list {
  // border: $bred;
  float: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 70%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    margin-top: 35px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    margin-top: 30px;
  }
}

.page-footer__menu--item {
  margin-bottom: 20px;

  @media (max-width: 767px) {
    margin-bottom: 21px;
  }
}
    
.page-footer__menu--item a {
  color: #1F1E25;
}


.page-footer__address--description {
  // border: $bred;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 145%;
  color: #707C87;
  margin-top: 17px;

  @media (max-width: 1023px) {
    margin-top: 10px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.page-footer__contacts {
  // border: $bred;
  display: flex;
  width: 584px;
  margin-left: auto;
  justify-content: flex-end;
  
  @media (max-width: 1023px) {
    flex-direction: column;
    justify-content: flex-start;
    width: 370px;
  }

  @media (max-width: 767px) {
    margin-top: 10px;
  }

  .page-footer__contacts--sub,
  .page-footer__contacts--russia {
    // border: $bred;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 140%;
      color: #707C87;
      margin-bottom: 5px;
    }

    a {
      position: relative;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #1F1E25;
    }
  }

  .page-footer__contacts--russia {
    margin-left: 115px;

    @media (max-width: 1023px) {
      margin-left: 5px;
    }

    @media (max-width: 767px) {
      margin-left: 35px;
    }
  }

  .page-footer__contacts--sub {
    @media (max-width: 1023px) {
      margin-bottom: 20px;
    }

    @media (max-width: 767px) {
      margin-left: 30px;
      margin-bottom: 15px;
    }
  }

  .page-footer__contacts--sub a::before {
    content: '';
    position: absolute;
    background-image: url(../img/phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 10px;
    left: -28px;
  }

  .page-footer__contacts--russia a::before {
    content: '';
    position: absolute;
    background-image: url(../img/phone2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    left: -35px;
  }

  .page-footer__socials {
    // border: $bred;
    display: flex;
    justify-content: space-between;
    width: 102px;
    flex-shrink: 0;
    margin-left: 85px;

    @media (max-width: 1023px) {
      margin-top: 20px;
      margin-left: -27px;
      width: 117px;
    }

    @media (max-width: 767px) {
      margin-top: 15px;
      margin-left: 0px;

    }
  }
}


