.page-footer {
  width: 100%;
  background: #011C40;
  padding: 50px 15px 46px;

  @media (max-width: 1023px) {
    padding: 50px 45px 46px;
  }

  @media (max-width: 767px) {
    padding: 40px 15px 36px;
  }
}

.page-footer__inner {
  // border: $bred;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__logo-image {
  // border: $bred;
  margin-right: 7px;
  fill: #F9FBFD;

  @media (max-width: 1023px) {
    margin-right: 2px;
    width: 38px;
    height: 20px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
    width: 42px;
    height: 22px;
  }
}

.footer-navigation__list {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.footer-navigation__list li {
  // border: $bred;
  margin-left: 33px;
  margin-bottom: 3px;

  @media (max-width: 1023px) {
    margin-left: 23px;
    margin-bottom: 5px;
  }

  @media (max-width: 767px) {
    margin-left: 0px;
    margin-bottom: 13px;
  }
}

.footer-navigation__list li a {
  // border: $bred;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #F9FBFD;

  &:hover {
    color: #cbb5f0;
    text-shadow: 3px 2px 3px #d9f7f294;
  }

  &:active {
    color: #765e9ea9;
    text-shadow: none;
  }

  @media (max-width: 1023px) {
    font-size: 12px;
  }
}

.page-footer__socials {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 13px;
  }
}

.page-footer__socials a {
  margin-left: 33px;

  @media (max-width: 1023px) {
    margin-left: 23px;
  }

  @media (max-width: 767px) {
    margin-left: 23px;
  }

  &:first-child {
    margin-left: 0px;
  }
}

.social-facebook__image {
  @media (max-width: 1023px) {
    width: 9px;
    height: 16px;
  }
}

.social-instagram__image {
  @media (max-width: 1023px) {
    width: 16px;
    height: 16px;
  }
}

.social-twitter__image {
  @media (max-width: 1023px) {
    width: 16px;
    height: 13px;
  }
}

.social {
  fill: #F9FBFD;

  &:hover {
    fill: rgb(206, 206, 224);
    filter: drop-shadow(0px 0px 5px rgb(186, 212, 233));
  }

  &:active {
    fill: rgb(241, 190, 230);
    filter: opacity(40%) brightness(100%);
  }
}



