.page-header {
  border: $bred;
  background: url("#src\img\header-pic.svg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.page-header__inner {
  border: $bred;
  justify-content: flex-end;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.main-navigation__list {
  display: flex;
}