.page-header {
  // border: $bred;
  display: block;
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 34px 15px 0;
  position: relative;
  overflow: hidden;

  @media (max-width: 1023px) {
    padding: 29px 45px 0;
  }

  @media (max-width: 767px) {
    padding: 20px 15px 0;
  }
}

.page-header__inner {
  // border: $bred;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  // border: $bred;
  order: 1;
  width: 100%;
  font-weight: bold;
  font-size: 54px;
  line-height: 125%;
  margin-left: 95px;
  margin-top: 193px;
  color: #F9FBFD;

  @media (max-width: 1023px) {
    margin-left: 0;
    margin-top: 215px;
    font-size: 50px;
  }

  @media (max-width: 767px) {
    margin-top: 130px;
    font-size: 36px;
    white-space: pre-line;
  }
}

h1 + p {
  // border: $bred;
  order: 2;
  width: 100%;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #F9FBFD;
  margin-left: 95px;
  margin-top: 10px;
  margin-bottom: 276px;

  @media (max-width: 1023px) {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 273px;
  }

  @media (max-width: 767px) {
    margin-top: 11px;
    font-size: 16px;
    white-space: pre-line;
    margin-bottom: 179px;
  }
}

.page-header__logo {
  margin-right: auto;
  z-index: 9;
}

.page-header__logo img{
  width: 70px;
  height: 38px;

  @media (max-width: 1023px) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: 767px) {
    width: 42px;
    height: 22px;
  }
}

//------------------Значок меню-------------------//

.page-header__menu-icon {
  // border: $bred;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 19;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-icon__lines {
  position: relative;
  margin-bottom: 5px;
  width: 24px;
  height: 2px;
  background-color: #F9FBFD;

  &.lines__active {
    background-color: transparent;
    width: 15px;
  }
}

.menu-icon__lines::after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  width: 24px;
  height: 2px;
  background-color: #F9FBFD;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
  
.menu-icon__lines::before {
  content: "";
  position: absolute;
  display: block;
  top: -6px;
  width: 24px;
  height: 2px;
  background-color: #F9FBFD;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon__lines.lines__active::after {
  width: 18px;
  transform: rotate(-45deg);
  top: 0;
  background-color: #011C40;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon__lines.lines__active::before {
  width: 18px;
  transform: rotate(45deg);
  top: 0;
  background-color: #011C40;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

//------------------Конец-------------------//

.main-navigation {
  @media (max-width: 767px) {
    // border: $bred;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 100%;
    background: #E5E5E5;
    transition: transform 0.4s ease-in;
  }

  &.navigation-active {
    transform: translateX(-100%);
  }
}

.main-navigation__list {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
    padding-top: 90px;

    li {
      margin-bottom: 24px;
    }

    li:last-child {
      margin-bottom: 61px;
    }
  }
}

.main-navigation__list li a {
  // border: $bred;
  color: #F9FBFD;
  line-height: 70%;
  font-weight: 500;
  font-size: 16px;
  margin-left: 33px;

  @media (max-width: 1023px) {
    font-size: 14px;
    margin-left: 24px;
  }

  @media (max-width: 767px) {
    color: #011C40;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 24px;
  }
}


