.page-header {
  display: flex;
  justify-content: flex-start;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 61px;
  padding-right: 98px;
  border: $bred;
}

.page-header__logo {
  padding-top: 27px;
  padding-bottom: 39px;
  margin-right: 58px;
  border: $bred;
}

.main-nav {
  display: flex;
}

.main-nav__list {
  border: $bred;
  display: flex;
  align-items: center;
}

.main-nav__item {
  margin-right: 25px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item--link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.btn-page-header__login {
  display: flex;
  align-items: center;
  border: $bred;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.btn-page-header__login::before {
  content: url(../img/login-icon.svg);
  margin-right: 10px;
}