.page-live {
  width: 100%;
  padding: 0 16px;
}

.page-live__inner {
  // border: $bred;
  margin: 0 auto;
  width: 100%;
  max-width: 1153px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.page-live__inner h2 {
  text-align: center;
  margin-bottom: 30px;
}

.page-live__inner p {
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: right;
  color: #484848;
  opacity: 0.87;
  width: 710px;
  margin-bottom: 50px;
}

.live-pictures {
  border: $bred;
  margin: 0 auto;
  width: 100%; // без этого слайдер глючит
}

.live-pictures picture {
  border: $bred;
  float: left;
  position: relative;

  @media (max-width: 767px) {
    width: 200px;
    height: 300px;
    float: none;
  }

  img {
    @media (max-width: 767px) {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0;
    }
  }
}

.live-pictures picture::before {
  // border: $bred;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 8%;
  padding-bottom: 35px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.live-picture-tours {
  // border: $bred;
  overflow: visible;
  margin-right: 15px;

  &::before {
    content: 'Экскурсии по Израилю и знакомство с его историей';
    width: 80%;
  }

  img {
    // border: $bred;
    object-position: center bottom;
    object-fit: cover;
    margin-top: -70px;
  }
}

.live-picture-hebrew {
  margin-right: 25px;

  &::before {
    content: 'Изучение иврита';
    width: 80%;
  }
}

.live-picture-education {
  margin-bottom: 25px;

  &::before {
    content: 'Обучение современным навыкам и профессиям';
    width: 80%;
  }
}

.live-picture-youth {
  margin-right: 25px;

  &::before {
    content: 'Совместные творческие проекты с израильской молодёжью';
    width: 90%;
  }
}

.live-picture-improvements {
  &::before {
    content: 'Развитие лидерства';
    width: 80%;
  }
}
