$over_height: 65px;

.page-live {
  width: 100%;
  padding: 0 16px;
}

.page-live__inner {
  // border: $bred;
  margin: 0 auto;
  width: 100%;
  max-width: 1153px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.page-live__inner h2 {
  text-align: center;
  margin-bottom: 25px;
}

.page-live__inner p {
  // border: $bred;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: right;
  color: #484848;
  opacity: 0.87;
  max-width: 725px;
  margin-bottom: 45px;

  @media (max-width: 767px) {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 23px;
  }
}

.live-pictures {
  // border: $bred;
  width: 100%; // без этого слайдер глючит
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.live-pictures--mobile {
    display: block;
  }
}

.live-pictures__small {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 656px;
}

.live-picture picture {
  width: 100%;
  height: 100%;
}

.live-picture p {
  // border: $bred;
  position: absolute;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}

.live-picture--tours {
  // border: $bred;
  overflow: visible;
  margin-right: 15px;
  height: 732px - $over_height;
  width: 482px;
  margin-bottom: 31px;
  position: relative;

  @media (max-width: 767px) {
    width: 288px;
    height: 400px;
    margin: 0;
  }
}

.live-picture--tours img {
  // border: $bred;
  object-position: center bottom;
  object-fit: cover;
  margin-top: -$over_height;

  @media (max-width: 767px) {
    object-fit: contain;
    margin-top: 0px;
    width: 100%;
  }
}

.live-picture--tours p {
  width: 75%;
  left: 37px;
  bottom: 34px;

  @media (max-width: 767px) {
    width: 220px;
    left: calc((100% - 220px) / 2);
    bottom: 24px;
  }
}

.live-picture--hebrew {
  margin-right: 25px;
  height: 318px;
  width: 211px;
  margin-bottom: 31px;
  position: relative;

  @media (max-width: 767px) {
    width: 288px;
    height: 400px;
    margin: 0;
  }
}

.live-picture--hebrew img {
  @media (max-width: 767px) {
    object-fit: contain;
    width: 100%;
  }
}

.live-picture--hebrew p {
  width: 80%;
  left: 22px;
  bottom: 32px;

  @media (max-width: 767px) {
    width: 220px;
    left: calc((100% - 220px) / 2);
  }
}


.live-picture--education {
  height: 318px;
  width: 411px;
  margin-bottom: 31px;
  position: relative;

  @media (max-width: 767px) {
    width: 288px;
    height: 400px;
    margin: 0;
  }
}

.live-picture--education img {
  @media (max-width: 767px) {
    object-fit: cover;
    object-position: right center;
    width: 100%;
  }
}

.live-picture--education p {
  width: 80%;
  left: 35px;
  bottom: 32px;

  @media (max-width: 767px) {
    width: 220px;
    left: calc((100% - 220px) / 2);
  }
}

.live-picture--youth {
  margin-right: 25px;
  height: 318px;
  width: 411px;
  margin-bottom: 31px;
  position: relative;

  @media (max-width: 767px) {
    width: 288px;
    height: 400px;
    margin: 0;
  }
}

.live-picture--youth p {
  width: 90%;
  left: 30px;
  bottom: 32px;

  @media (max-width: 767px) {
    width: 220px;
    left: calc((100% - 220px) / 2);
  }
}

.live-picture--youth img {
  @media (max-width: 767px) {
    object-fit: cover;
    width: 100%;
  }
}

.live-picture--improvements {
  height: 318px;
  width: 214px;
  margin-bottom: 31px;
  position: relative;

  @media (max-width: 767px) {
    width: 288px;
    height: 400px;
    margin: 0;
  }
}

.live-picture--improvements p {
  width: 80%;
  left: 27px;
  bottom: 33px;

  @media (max-width: 767px) {
    width: 220px;
    left: calc((100% - 220px) / 2);
  }
}

.live-picture--improvements img {
  @media (max-width: 767px) {
    object-fit: contain;
    width: 100%;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.slick-dots li {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0px;
  }
}

.slick-dots li button {
  width: 6px;
  height: 6px;
  color: transparent;
  cursor: pointer;
  background: #484848;
  opacity: 0.2;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
}