.page-live {
  width: 100%;
  padding: 0 16px;
}

.page-live__inner {
  // border: $bred;
  margin: 0 auto;
  width: 100%;
  max-width: 1153px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.page-live__inner h2 {
  text-align: center;
  margin-bottom: 25px;
}

.page-live__inner p {
  // border: $bred;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: right;
  color: #484848;
  opacity: 0.87;
  max-width: 725px;
  margin-bottom: 47px;

  @media (max-width: 767px) {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}

.live-pictures {
  // border: $bred;
  width: 100%; // без этого слайдер глючит
}

.live-pictures picture {
  // border: $bred;
  float: left;
  position: relative;

  @media (max-width: 767px) {
    padding-left: calc((100% - 288px) / 2);
    margin: 0;
  }
}

.live-pictures picture::before {
  // border: $bred;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 8%;
  padding-bottom: 35px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);

  @media (max-width: 767px) {
    width: 220px;
    padding-left: 0;
    margin-left: calc((100% - 220px) / 2);
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 25px;
  }
}

.live-picture-tours {
  // border: $bred;
  overflow: visible;
  margin-right: 15px;

  &::before {
    content: 'Экскурсии по Израилю и знакомство с его историей';
    width: 80%;
  }

  img {
    // border: $bred;
    object-position: center bottom;
    object-fit: cover;
    margin-top: -65px;

    @media (max-width: 767px) {
      object-fit: contain;
      margin-top: 0px;
    }
  }
}

.live-picture-hebrew {
  margin-right: 25px;

  &::before {
    content: 'Изучение иврита';
    width: 80%;
  }

  img {
    @media (max-width: 767px) {
      object-fit: contain;
    }
  }
}

.live-picture-education {
  margin-bottom: 25px;

  &::before {
    content: 'Обучение современным навыкам и профессиям';
    width: 80%;
  }

  img {
    @media (max-width: 767px) {
      object-fit: cover;
      object-position: right center;
    }
  }
}

.live-picture-youth {
  margin-right: 25px;

  &::before {
    content: 'Совместные творческие проекты с израильской молодёжью';
    width: 90%;
  }

  img {
    @media (max-width: 767px) {
      object-fit: cover;
    }
  }
}

.live-picture-improvements {
  &::before {
    content: 'Развитие лидерства';
    width: 80%;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.slick-dots li {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0px;
  }
}

.slick-dots li button {
  width: 6px;
  height: 6px;
  color: transparent;
  cursor: pointer;
  background: #484848;
  opacity: 0.2;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
}
