.page-map {
  display: flex;
  height: 863px;
  // border: $bred;
  margin: 0 auto;
  padding: 110px 98px;
  max-width: 1366px;
  @media (min-width: 768px) and (max-width: 1023px) {
    height: 771px;
    padding: 80px 45px;
  }
  @media (max-width: 767px) {
    height: 608px;
    padding: 60px 0;
    min-width: 250px;
  }
}

.page-map__inner {
  display: flex;
  flex-direction: column;
  // border: $bred;
  width: 100%;
  justify-content: flex-end;

  .page-map__title {
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 70%;
    // border: $bred;
    margin-bottom: auto;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 22px;
      margin-left: 15px;
    }
  }

  .page-map__contries {
    width: 100%;
    // border: $bred;
    background-color: #F6F7FF;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 70%;
    border-bottom: 1px solid #C1C2CA;
    @media (max-width: 767px) {
      height: 56px;
    }

    .page-map__country {
      display: flex;
      // border: $bred;
      align-items: center;
      justify-content: center;  
      margin-right: 30px;
      @media (max-width: 767px) {
        margin-right: 20px;
      }

      input {
        margin-right: 10px;
        height: 16px;
        width: 16px;
      }
    }
  
    .page-map__country:nth-child(3) {
      margin-right: 0px;
    }
  }

  .page-map__view {
    width: 100%;
    height: 462px;
    // border: $bred;
    @media (max-width: 767px) {
      height: 381px;
    }
  }
}
