.page-calculation__our-offer {
  // border: $bred;
  width: 500px;
  margin-left: auto;
  margin-top: 100px;
  padding: 60px;
  display: flex;
  background: #F6F7FF;
  border-radius: 4px;
  align-self: flex-start;
  @media (max-width: 1023px) {
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
  }
  @media (max-width: 767px) {
    height: auto;
    max-width: 100%;
    margin-top: 32px;
    padding: 40px 15px;
  }
}

.calculation__results--unwanted {
  // border: $bred;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

  span {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 22px;
  }
}

.calculation__results {
  // border: $bred;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.calculation__results h3 {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 70%;
  margin-bottom: 35px;

  @media (max-width: 1023px) {
    font-size: 22px;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 35px;
  }
}

.calculation__result {
  // border: $bred;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 70%;
  width: 50%;
  margin-bottom: 35px;

  @media (max-width: 1023px) {
    width: 40.5%;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.calculation__result p:first-child {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 15px;

  @media (max-width: 1023px) {
    line-height: 70%;
  }

  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 13px;
  }
}

.calculated--percent,
.calculated--income {
  padding-left: 33px;

  @media (max-width: 1023px) {
    padding-left: 0px;
  }
}

.calculation__request-btn {
  width: 100%;
  // border: $bred;
  height: 51px;
  background: #2C36F2;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 70%;
  color: #F6F7FF;

  @media (max-width: 767px) {
    font-size: 14px;
    margin-top: 9px;
  }
}
