.page-presentation {
  width: 100%;
  // border: $bred;

  .page-presentation-item__view {
    // border: $bred;

    .page-presentation-item__view--inner {
      // border: $bred;
      display: flex;
      justify-content: space-between;
      width: 851px;
      margin: 80px auto;

      @media (max-width: 1023px) {
        width: 596px;
        margin: 57px auto;
      }
      @media (max-width: 767px) {
      }

      .page-presentation__essence {
        // border: $bred;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        padding-top: 22px;

        @media (max-width: 1023px) {
          margin-left: 0px;
          padding-top: 8px;
        }
        @media (max-width: 767px) {
          margin-left: 0;
          justify-content: space-between;
        }
      }
    }
  }

  /*---------------------- Для первой фотографии -----------------------------*/
  .page-presentation-item__view.first-slide {
    background: #2C36F2;
    // border: $bred;

    img {
      // border: $bred;
      object-fit: cover;
      object-position: 50% 43%;
      width: 445px;
      height: 240px;
      margin-right: -34px;
      
      @media (max-width: 1023px) {
        width: 345px;
        height: 186px;
        margin-right: -17px;
      }

      @media (max-width: 767px) {
      }
    }
  }

  .page-presentation__credits-offer--title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;
    color: #F6F7FF;
    // border: $bred;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 46px;
      line-height: 54px;
    }
    @media (max-width: 767px) {
      font-size: 38px;
      line-height: 45px;
    }
  }

  .page-presentation__credits-offer--comment {
    // border: $bred;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #F6F7FF;
    margin-top: 8px;

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 18px;
      line-height: 21px;
      margin-top: 6px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
      margin-top: 0;
    }
  }

  .page-presentation__credits-offer--btn {
    // border: $bred;
    width: 234px;
    height: 53px;
    background: #F6F7FF;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 35px;
    cursor: pointer;

    &:active {
      box-shadow: inset 0 0 0 1px #1c05a1, inset 0 5px 40px #9fb5f1;
    }

    @media (max-width: 1023px) {
      width: 206px;
      height: 48px;
      font-size: 16px;
      line-height: 19px;
      margin-top: 30px;
    }
    @media (max-width: 767px) {
      width: 188px;
      height: 43px;
      font-size: 14px;
      line-height: 16px;
      margin-top: 0px;
    }
  }

  /*---------------------- Для второй фотографии -----------------------------*/
  .page-presentation-item__view.second-slide {
    background-image: url(../img/slide-confidence.svg);
  }

  .page-presentation__confidence--title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;
    color: #1F1E25;
    // border: $bred;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 46px;
      line-height: 54px;
    }
    @media (max-width: 767px) {
      font-size: 38px;
      line-height: 45px;
    }
  }

  .page-presentation__confidence--comment {
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #2B3C4F;
    // border: $bred;
    margin-top: 25px;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 18px;
      line-height: 21px;
      margin-top: 25px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
      margin-top: 0;
      width: 85%;
    }
  }

  /*---------------------- Для третьей фотографии -----------------------------*/
  .page-presentation-item__view.third-slide {
    background-image: url(../img/slide-girl.svg);
  }

  .page-presentation__closeness--title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;
    color: #1F1E25;
    // border: $bred;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 46px;
      line-height: 54px;
    }
    @media (max-width: 767px) {
      font-size: 38px;
      line-height: 45px;
    }
  }

  .page-presentation__closeness--comment {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #1F1E25;
    // border: $bred;
    margin-top: 25px;
    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 18px;
      line-height: 21px;
      margin-top: 25px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
      margin-top: 0;
    }
  }

  .page-presentation__closeness--btn {
    // border: $bred;
    width: 234px;
    height: 53px;
    background: #F6F7FF;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 40px;

    @media (max-width: 1023px) {
      width: 206px;
      height: 48px;
      font-size: 16px;
      line-height: 19px;
      margin-top: 40px;
    }
    @media (max-width: 767px) {
      width: 188px;
      height: 43px;
      font-size: 14px;
      line-height: 16px;
      margin-top: 0px;
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    top: 86.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -25px;

    @media (max-width: 1023px) {
      top: 90.3%;
      margin-left: -24px;
    }

    li {
      list-style: none;
      margin: auto 4px;
    }

    li.slick-active button{
      background-color: #E0E0E0;
    }

    button {
      font-size: 0;
      width: 8px;
      height: 8px;
      background-color: #2028B6;
      border-width: 0px;
      outline-width: 0px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}

