.page-catalogue {
  background: url(../img/bg-catalogue.png) top 5% right no-repeat;
  background-size: auto;
  padding: 57px 16px 0;
}

.page-catalogue__inner {
  // border: $bred;
  max-width: 946px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 767px) {
    align-items: center;
  }
}

.catalogue-details {
  display: flex;
  margin-top: 67px;
  width: 100%;

  @media (max-width: 767px) {
    margin-top: 15px;
    flex-direction: column;
  }
}

.page-catalogue .slick-track { // не могу контролировать ширину
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 767px) {
    flex-direction: row;
  }
}

.page-catalogue .slick-slide { // не могу контролировать ширину
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.page-catalogue .slick-slide .item-container:focus button {
  @media (min-width: 768px) {
    border-left: 5px solid #1FC0FC;
  }
}

.page-catalogue .slick-slide button {
  margin: 0;
  border-radius: 0;
  width: 228px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #484848;
  background: #FFFFFF;
  border-left: 5px solid transparent;
  padding-left: 15px;
  clip-path: polygon(0% 0%, 87% 0%, 100% 50%, 87% 100%, 0% 100%);
  cursor: pointer;

  &.catalogue-details__item--isChecked {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    border-left: 5px solid #FFC341;
  }

  @media (max-width: 767px) {
    clip-path: none;
    border-radius: 60.6704px;
    margin: 0 auto;
    width: 181px;
    height: 48px;
    justify-content: center;
    padding-left: 0px;
    opacity: 0.4;
    background: none;

    &.catalogue-details__item--isChecked {
      font-weight: bold;
      font-size: 13px;
      text-shadow: 0px 1.01117px 4.04469px rgba(0, 0, 0, 0.12);
      opacity: 1;
    }
  }
}

.catalogue-details__item img {
  order: -1;
  margin-right: 16px;
  object-fit: contain;
  object-position: center;

  @media (max-width: 767px) {
    transform: scale(0.9);
    margin-right: 7px;
  }
}

.catalogue-details__item .catalogue-details__item-photo {
  display: block;
}

.catalogue-details__item .catalogue-details__item-photo-white {
  display: none;
}

.catalogue-details__item--isChecked .catalogue-details__item-photo {
  display: none;
}

.catalogue-details__item--isChecked .catalogue-details__item-photo-white {
  display: block;
}

.catalogue-details__descriptions {
  margin-left: 62px;
  max-width: 550px;

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
  }
}

.catalogue-details__descriptions h3 {
  margin-top: 25px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 23px;
  }
}

.catalogue-details__descriptions p {
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }
}



