.page-reviews {
  // border: $bred;
  width: 100%;
  padding: 0 102px 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 767px) {
    padding: 0 16px 0;
  }
}

.page-reviews__inner {
  // border: $bred;
  margin: 0 auto;
  width: 100%;
  max-width: 1084px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.page-reviews__inner h2 {
  // border: $bred;
  margin-bottom: 15px;
  margin-left: 85px;

  @media (max-width: 767px) {
    margin-bottom: 25px;
    margin-left: 0;
  }
}

.page-reviews__list {
  // border: $bred;
  width: 100%;
}

.page-reviews__item picture {
  // border: $bred;
  float: left;
  margin-right: 40px;

  @media (max-width: 767px) {
    margin-right: 0;
    float: none;
  }
}

.page-reviews__item picture img {
  // border: $bred;
  object-fit: contain;

  @media (max-width: 767px) {
    width: 240px;
    height: 320px;
    margin-left: calc((100% - 240px) / 2);
  }
}


.review-item {
  // border: $bred;
  display: flex;
  flex-direction: column;
}

.review-item h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #484848;
  opacity: 0.74;
  margin-top: 40px;
  margin-bottom: 12px;

  @media (max-width: 767px) {
    margin-top: 55px;
  }
}

.review-item .review-item__program {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #484848;
  opacity: 0.74;
  margin-bottom: 30px;

  & span {
    color: #1FC0FC;
  }

  @media (max-width: 767px) {
    white-space: pre-line;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 21px;
  }
}

.review-item .review-item__text {
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
  opacity: 0.74;
  margin-bottom: 16px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}

.review-item .review-item__extended {
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-decoration-line: underline;
  color: #1FC0FC;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 40px;
  }
}

.review-item__socials {
  margin-left: auto;
  margin-top: 60px;

  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: auto;
    margin-top: 15px;
  }
}

.review-item__socials .social {
  fill: #00000038;
  margin-left: 18px;

  &:first-child {
    margin-left: 0;
  }
}

.page-reviews__counter {
  position: absolute;
  bottom: 0;
  left: 37.5%;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #484848;
  opacity: 0.5;

  @media (max-width: 767px) {
    top: 392px;
    left: 34%;
  }
}

.slick-arrow {
  position: absolute;
  bottom: 7px;
  left: 50;
  border-radius: 0;
  background: none;
  height: 15px;
  width: 10px;
  z-index: 9;

  @media (max-width: 767px) {
    top: 333px;
  }
}

.slick-next {
  background: url(../img/next.svg) center no-repeat;
  left: 492px;

  @media (max-width: 767px) {
    left: 64%;
  }
}

.slick-prev {
  background: url(../img/prev.svg) center no-repeat;
  left: 463px;

  @media (max-width: 767px) {
    left: 53%;
  } 
}