@import "fonts.scss";

$bred: 0.5px solid red;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0%;
  border: none;
  outline: none;
}

body {
  // border: $bred;
  color: #011C40;
  font-family: "Montserrat", "Arial", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

button:active {
  color: #7b6be4;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: inset 2px 2px 3px 2px rgba(45, 39, 124, 0.425), inset -2px -2px 3px 2px rgba(45, 39, 124, 0.425);
}

@import "header.scss";
@import "acquaintance.scss";
@import "advantages.scss";
@import "early-cruises.scss";
@import "booking.scss";
@import "address.scss";
@import "footer.scss";

