@import "normalize.scss";
@import "offers-menu.scss";
@import "calculation.scss";
@import "popup.scss";
@import "popup-registration.scss";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"),
       url("../fonts/Roboto.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold.woff2") format("woff2"),
       url("../fonts/RobotoBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium.woff2") format("woff2"),
       url("../fonts/RobotoMedium.woff") format("woff");
  font-weight: 500px;
}


input:valid {
  border-color: green;
}

input:not(:placeholder-shown):invalid{
  border-color: red
}

.visually-hidden {
  display: none;
}