$bred: 0.5px solid red;

* {
  box-sizing: border-box;
}

@import "header.scss";


body {
  color: black;
}

h1 { // так можно подключать стили на перспективу из папки dist
  font-family: "Roboto-LightItalic";
  font-style: normal;
}

.page-footer__menu-item {
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

// .page-footer__inner {
//   background: url("../img/keisha.jpg") 0 0 no-repeat;
// }

.social {
  font-size: 25px;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.page-map__view {
  width: 100%;
  height: 200px;
  z-index: 9;
}
